body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background: #fafafa;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h3,
h4 {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: #000000;
}
p {
  margin: 0;
}
.btn a {
  position: absolute;
  top: 4px;
  left: 38px;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 20px;
}
.section-nav {
  padding: 50px 0;
}
/*                                                Gallery                              */

.section-header__gallery {
  position: absolute;
  top: 0;
  right: 0;
  width: 931px;
  height: 621px;
  overflow: hidden;
  z-index: -1;
}
.header-gallery-wrapper {
  width: calc(930px * 7);
}
.gallery-list {
  display: flex;
  flex-direction: row;
}
.gallery-list-item img {
  width: 930px;
  height: 621px;
}
.nav-btns-wrapper {
  position: absolute;
  bottom: 40px;
  right: 90px;
  width: 110px;
  display: flex;
  justify-content: space-between;
  z-index: 3;
  
}
.btn-prev {
  width: 23.33px;
  height: 43.84px;
  background-image: url("./img/btn-prev.png");
  cursor: pointer;
  z-index: 3;
}
.btn-next {
  width: 23.33px;
  height: 43.84px;
  background-image: url("./img/btn-next.png");
  cursor: pointer;
  z-index: 3;
}

.section-outer {
  padding-left: 110px;
  padding-right: 80px;
}
.nav-list__item {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
}
.nav-list__phone {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}
.nav-list {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
}
.section-header {
  padding-top: 250px;
  padding-bottom: 60px;
  padding-right: 0;
  position: relative;
}
/* .section-header .section-wrapper{
  width: 60%;
} */
.section-header__hash {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}
.title {
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.title-wrapper {
  width: 65%;
}
.subtitle {
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 30px;
}
.btn {
  position: relative;
}
.btn-s {
  width: 241px;
  height: 66px;
  background-image: url("./img/btn-s.png");
}
.btn-m {
  width: 420.5px;
  height: 66px;
  background-image: url("./img/btn-m.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.section-highlights {
  padding-left: 60px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #ffffff;
}
.highlights-icon {
  height: 34px;
  min-width: 34px;
  margin-right: 10px;
}
.highlights-tekst {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  max-width: 155px;
}
.highlights-list__item {
  max-width: 266px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.highlights-list {
  display: flex;
  justify-content: space-between;
}
.tekst-2 {
  max-width: 230px;
}
.section-main {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}
.section-main .section-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-text {
  width: 60%;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 54px;
}
.main-description {
  width: 35%;
}
.main-description h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 38px;
  margin-bottom: 10px;
}
.main-description-list {
  margin-bottom: 40px;
}
.main-description-list__item {
  position: relative;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 38px;
  padding-left: 20px;
}
.main-description-list__item::before {
  content: "";
  width: 13px;
  height: 19px;
  position: absolute;
  top: 10px;
  left: 0;
  background-image: url("./img/descr.png");
}
.section-time {
  position: relative;
}
.section-time .title {
  margin-bottom: 60px;
}
.schedule-poster {
  width: 100%;
}
.time-title {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 38px;
}
td {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 38px;
}
.time {
  font-weight: 500;
  width: 170px;
}
.schedule-wrapper {
  background-color: #ffffff;
  display: flex;
  padding: 75px 0 0 90px;
  justify-content: space-between;
  position: relative;
  margin-bottom: 100px;
}
.section-time__first,
.section-time__second {
  display: flex;
  flex-direction: column;
  width: 45%;
}
.section-time__second-table {
  margin: 0 90px 75px 0;
}

.form-checkbox-wrapper {
  width: 100%;
  display: flex;
}
.services {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.way {
  width: 40%;
  display: flex;
  flex-wrap: wrap;
}
.form-contacts-wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 85%;
}
.btn-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 100px;
  justify-content: space-between;
  align-items: center;
}
.instagram {
  position: relative;
  padding-left: 30px;
  font-weight: normal;
  font-size: 18px;
  line-height: 38px;
  text-align: center;
}
.instagram::before {
  content: "";
  width: 21px;
  height: 21px;
  position: absolute;
  top: 7px;
  left: 0;
  background-image: url("./img/instagram.png");
  background-repeat: no-repeat;
}
.section-sponsors-list {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 100px;
}
.sponsors-list__item {
  background-color: white;
  width: 19%;
  height: 200px;
  box-shadow: 0px 7px 25px rgba(79, 95, 110, 0.15);
  /* padding: 15px; */
  box-sizing: border-box;
  position: relative;
}
.sponsors-list__item p {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  text-align: center;
}
.list-item-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 50%;
  bottom: 15px;
  transform: translateX(-50%);
}
.img-wrapper {
  max-width: 180px;
  width: 90%;
}
.section-partners-list {
  margin-top: 40px;
  margin-bottom: 130px;
  display: flex;
  justify-content: space-between;
}
.partners-list-item {
  background-color: white;
  box-shadow: 0px 7px 25px rgba(79, 95, 110, 0.15);
  width: 19%;
  height: 200px;
  /* text-align: center; */
  position: relative;
}
.partners-list-item img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}
.footer-info {
  width: 340px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-info img {
  margin-right: 20px;
}
.footer-contact {
  text-align: right;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 30px;
}
.event-doc a {
  text-decoration: underline;
}
legend {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 38px;
}
label {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 38px;
  position: relative;
}
fieldset {
  border: none;
}
.person legend {
  margin-bottom: 20px;
}
input[type="text"] {
  width: 40%;
  height: 50px;
  background: #ffffff;
  border: 1px solid #e3e6ef;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-right: 20px;
  padding-left: 30px;
}
input[type="checkbox"] {
  background: #ffffff;
  border: 1px solid #e3e6ef;
  border-radius: 5px;
  width: 22px;
  height: 22px;
  margin-right: 10px;
  position: relative;
  top: 5px;
}
.person {
  width: 80%;
}
.link {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 38px;
  text-decoration-line: underline;
}
.services-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.way-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.services-wrapper label,
.way-wrapper label {
  margin-right: 30px;
}
.ip {
  width: 55%;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.ip-1 {
  margin-right: 10px;
}
.footer-top p {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}
.total-price p {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 38px;
}
.total-price-value {
  font-style: normal;
  border: none;
  background: transparent;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  text-transform: uppercase;
  width: 110px;
}
.total-price-value + label {
  font-weight: bold;
  font-size: 48px;
}
.section-main::before {
  content: "";
  position: absolute;
  width: 460px;
  height: 742px;
  top: 0;
  left: 0;
  background-image: url("./img/shine-1.png");
  background-repeat: no-repeat;
  z-index: -1;
}
.section-time::before {
  content: "";
  position: absolute;
  width: 460px;
  height: 742px;
  top: 120px;
  right: 0;
  background-image: url("./img/shine-2.png");
  background-repeat: no-repeat;
  z-index: -1;
}
.section-sponsors {
  position: relative;
}
.section-sponsors::before {
  content: "";
  position: absolute;
  width: 545px;
  height: 987px;
  top: -250px;
  left: 0;
  background-image: url("./img/shine-3.png");
  background-repeat: no-repeat;
  z-index: -1;
}
.section-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.3;
}
.popup-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 80%;
  background: #ffffff;
  z-index: 3;
  transform: translate(-50%, -50%);
  padding: 140px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.popup-list-item {
  font-weight: 300;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
}
.btn-close {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 34.33px;
  height: 33.84px;
  border: none;
  background: transparent;
  background-image: url("./img/btn-close.png");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}
button {
  border: none;
  background: transparent;
}

@media (max-width: 1000px) {
  .highlights-list {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .highlights-list__item {
    margin-bottom: 20px;
  }
  .schedule-wrapper {
    flex-direction: column;
  }
  .section-time__first,
  .section-time__second {
    width: 100%;
  }
  .form-contacts-wrapper {
    width: 100%;
  }
  .instagram {
    font-size: 14px;
  }
  .nav-list {
    justify-content: flex-end;
  }
  .nav-list__item {
    padding-right: 20px;
  }
}
@media (max-width: 769px) {
  .section-outer {
    padding-left: 50px;
    padding-right: 40px;
  }
  .nav-list {
    width: 100%;
  }
  .title-wrapper {
    width: 100%;
  }
  .section-main .section-wrapper {
    flex-direction: column;
  }
  .main-text {
    width: 100%;
    margin-bottom: 50px;
  }
  .main-description {
    width: 100%;
  }
  .partners-list-item img {
    max-width: 90%;
  }
}
@media (max-width: 500px) {
  .popup-wrapper {
    padding: 70px;
  }
  .section-outer {
    padding-left: 30px;
    padding-right: 20px;
  }
  .highlights-list {
    flex-direction: column;
  }
  .highlights-list__item {
    justify-content: flex-start;
  }
  .main-text {
    font-size: 28px;
    line-height: 42px;
  }
  .schedule-wrapper {
    padding: 25px 0 0 30px;
  }
  .section-time__second img {
    width: 100%;
  }
  .section-time__second-table {
    margin: 0 30px 25px 0;
  }
  .form-checkbox-wrapper,
  .form-contacts-wrapper {
    flex-direction: column;
  }
  .services,
  .way,
  .person {
    width: 100%;
  }
  .btn-wrapper {
    margin-bottom: 0;
  }
  .total-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }
  .section-sponsors-list,
  .section-partners-list {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .sponsors-list__item,
  .partners-list-item {
    width: 47%;
    margin-bottom: 10px;
    margin-right: 10px;
  }
  .sponsors-list__item:nth-child(2n),
  .partners-list-item:nth-child(2n) {
    margin-right: 0;
  }
  .img-wrapper {
    width: 65%;
  }
  .footer-top {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer-contact {
    text-align: left;
  }
  .footer-bottom {
    flex-direction: column;
  }
  .ip {
    width: 100%;
    justify-content: flex-start;
    margin-top: 10px;
  }
  .loym {
    padding-left: 20px;
  }
}
@media (max-width: 414px) {
  .popup-wrapper {
    padding: 100px 40px;
  }
  .title {
    font-size: 28px;
    line-height: 35px;
  }
  .total-price {
    flex-direction: column;
    align-items: flex-start;
  }
  .btn-m {
    width: 290px;
  }
  .btn-m a {
    left: 30px;
  }
  .section-header {
    padding-top: 50px;
  }
  .main-text {
    font-size: 22px;
    line-height: 31px;
  }
  .time {
    width: 94px;
  }
  .section-time__second-table {
    margin: 0px 10px 25px 0;
  }
  input[type="text"] {
    width: 100%;
  }
  .footer-info {
    flex-direction: column;
    margin-bottom: 10px;
    align-items: flex-start;
  }
}
